<div ng-controller="advanced_search" style="width:40%; margin-left:30%">
	<form action="javascript: void(0)">
	<fieldset>
		<legend>Artists:</legend>
			<input type="text" required="true" id="artist">
		<!--
			<input type="radio" name="style" value="indie"> Indie |
			<input type="radio" name="style" value="pop">	Pop <br>
			<input type="radio" name="style" value="jazz"> jazz &nbsp;|
			<input type="radio" name="style" value="none"> none <br>-->
	</fieldset>

		<fieldset>
		<legend>limite:</legend>
			<label for="results">Limite</label><input type="number" name="results" value="10" min="1" max="15" id="results">
		</fieldset>
		<fieldset>
		<legend>Sort by:</legend>

			<input type="radio" name="sort_by" checked="checked" value="song_hotttnesss-desc"> Hot? <br>
			<input type="radio" name="sort_by" value="energy-desc">	energy (POWER) <br>
			<input type="radio" name="sort_by" value="danceability-desc"> danceability <br>
			<input type="radio" name="sort_by" value="artist_familiarity-desc"> artist familiarity <br>
		</fieldset>
		<p align="center"><button ng-click="smart_playisting()">Enviar</button></p>
	</form>
	<div ng-repeat="so in adv_songs">
		<b>{{so.title}}</b>-{{so.artist_name}}
	</div>
	<iframe id="playlisting" class="playButton" src="/l_sc" width="300" height="500" frameborder="0" allowtransparency="true"></iframe>
</div>