<script>
	function playPreview(SongURL){
        var player=document.getElementById("ply")
        player.src=SongURL;
        player.play();
        
    }
	var imgs = new Array();
var tracks = ["spotify:track:7b71WsDLb8gG0cSyDTFAEW",
"spotify:track:4B4zDmbHdkXZ1wUJv1yKFy",
"spotify:track:3cySlItpiPiIAzU3NyHCJf",
"spotify:track:3W3KtDwAIg3mAruSpnfG3Q",
"spotify:track:6K8qKeWo5MsFED7wCR6Kop",
"spotify:track:6HFbq7cewJ7rPiffV0ciil",
"spotify:track:2CAK2t1reUgPK6OMgAMURB",
"spotify:track:6PtXobrqImYfnpIxNsJApa",
"spotify:track:2wqaekenSQZm7hxQOYt8oE",
"spotify:track:5Sf3GyLEAzJXxZ5mbCPXTu",
"spotify:track:0TVV2gFROJaB3kIZyCUvIY",
"spotify:track:3U4isOIWM3VvDubwSI3y7a",
"spotify:track:5b88tNINg4Q4nrRbrCXUmg",
"spotify:track:3tCwjWLicbjsMCvXhN0WOE",
"spotify:track:4J8WVHRtXM6SMgsF7qohXy",
"spotify:track:2Dz8KeCYs9awlwUJStJlmh",
"spotify:track:4kgsK0fftHtg9gZOzkU5T2",
"spotify:track:1BltsyC5W3SAABdxyrDXwi",
"spotify:track:67awxiNHNyjMXhVgsHuIrs",
"spotify:track:27jdUE1EYDSXZqhjuNxLem",
"spotify:track:1huvTbEYtgltjQRXzrNKGi",
"spotify:track:4pn0G7yHNfTgRYRWca8gYA",
"spotify:track:0N6Bxsif1tT4vHz8tnkjzP",
"spotify:track:2Oehrcv4Kov0SuIgWyQY9e",
"spotify:track:1KqlVt63Q4bl1VdSlymr5C",
"spotify:track:3D4QFgYa3P9P0gjmv4eX6I",
"spotify:track:5ymtzcwlS4rLXJ2PMlSNPr",
"spotify:track:3cHyrEgdyYRjgJKSOiOtcS",
"spotify:track:5j9iuo3tMmQIfnEEQOOjxh",
"spotify:track:519uJbE3zyKLlToVA65PrP",
"spotify:track:1iXBApi39l5r6lJj9WEXXS",
"spotify:track:3gbBpTdY8lnQwqxNCcf795",
"spotify:track:1mzGywacjpeik00PVLBPpF",
"spotify:track:5pY3ovFxbvAg7reGZjJQSp",
"spotify:track:0tJGzJjUVlEsn8s3Mn32Jb",
"spotify:track:2KlArcPWLSRhD5JWCxqwHh",
"spotify:track:1FsH6OZCKLWbBgqj8JcCvO",
"spotify:track:6DcDdDevI94Dh4vc5anXBE",
"spotify:track:3G6hD9B2ZHOsgf4WfNu7X1",
"spotify:track:0BhZWr9gPZNlVdWWigvYA9",
"spotify:track:57ef886Y0RQDGLm2jvmYEq",
"spotify:track:6g1NlCpW7fgqDnWbCCDrHl",
"spotify:track:0idc0XRnLRovVqpWnGQ6hC",
"spotify:track:6jizk5lOUnfpaZXYMdfeC6",
"spotify:track:4G8gkOterJn0Ywt6uhqbhp",
"spotify:track:2rJojRundKuKFgbvmCAYva",
"spotify:track:7DFNE7NO0raLIUbgzY2rzm",
"spotify:track:6NGet2NFndj4XvpjH9iMvb",
"spotify:track:1A2UmLDZzDmpdzUjEkCc3z",
"spotify:track:5fnA9mkIfScSqHIpeDyvck",
"spotify:track:5l3CML2OnzfNs5RfVgbcLt",
"spotify:track:4r8hRPbidDIoDPphxi78aY",
"spotify:track:72lvNqggmcOnS4C8XxZwuj",
"spotify:track:6jdOi5U5LBzQrc4c1VT983",
"spotify:track:3zKST4nk4QJE77oLjUZ0Ng",
"spotify:track:3bidbhpOYeV4knp8AIu8Xn",
"spotify:track:015IsLQFXbEm0f541N2qoX",
"spotify:track:2dLLR6qlu5UJ5gk0dKz0h3",
"spotify:track:0xCA70t1ZA4fa9UOE0lIJm",
"spotify:track:3rq5w4bQGigXOfdN30ATJt",
"spotify:track:1HNkqx9Ahdgi1Ixy2xkKkL",
"spotify:track:0zkiQH567SDLqfWNBaU3hv",
"spotify:track:3DmW6y7wTEYHJZlLo1r6XJ",
"spotify:track:5TvFfDlVoUWZvfqrhTJzD7",
"spotify:track:0ktV2JoOsoTGURzKaZnjJL",
"spotify:track:0qcr5FMsEO85NAQjrlDRKo",
"spotify:track:13qqdlSeF8FcxsRyapDMZ0",
"spotify:track:11SynawYlFYwzk3k9VARLV",
"spotify:track:48gsLPdOUEDjr7P8Wvykne",
"spotify:track:5U8hKxSaDXB8cVeLFQjvwx",
"spotify:track:0xMd5bcWTbyXS7wPrBtZA6",
"spotify:track:3wPPWcVuinAU7dXcJXtCID",
"spotify:track:0Rz1KXsP4bhGxs0ffySSSn",
"spotify:track:4Uc6BcPeBKfZUlX6jhumGv",
"spotify:track:7qfwcqfGOkQYtzjF4UzJHM",
"spotify:track:2Vogx6NbF6o4bfLhzKmo3O",
"spotify:track:0xIVvRmjztR1AwuHrkhH41",
"spotify:track:34gCuhDGsG4bRPIf9bb02f",
"spotify:track:0D2TtUbiX4QszhgMuye71Z",
"spotify:track:5EmCpD8tUj78VW3kgaEjME",
"spotify:track:1fzJyTCKeZuTSLByCsLRHl",
"spotify:track:0ZR9NFol0hcgLSVJoQmREl",
"spotify:track:6D5pfooPP6hi99RaXjkDsP",
"spotify:track:3qZkpG7RW81clweFyefCe2",
"spotify:track:2N8F9mupXs9oyCLeerRfCw",
"spotify:track:3bDGwl0X3EjQmIyFD1uif5",
"spotify:track:5v4sZRuvWDcisoOk1PFv6T",
"spotify:track:4eLSCSELtKxZwXnFbNLXT5",
"spotify:track:2FvE1VYiztTWlj3ivgMAeY",
"spotify:track:3zdv56EdfZi0ydbAZqbQ3M",
"spotify:track:2FiceoWDJ67rrmb5tGBpgE",
"spotify:track:3GKSfF6c3Rv3a1knSjxnXa",
"spotify:track:0cJLYpRTqODzv9SiQukE4Z",
"spotify:track:1Y7497MCCpZ19EuwIaqoZ0",
"spotify:track:2ia7iiEtpiOL2ZVuWxBZGB",
"spotify:track:2x4UdnjXPMMwjZtDTqpEjT",
"spotify:track:6zlOUIqcU6juXFww9UNpJK",
"spotify:track:5hTx6e0H4tQHiPyx5AuuwS",
"spotify:track:2Foc5Q5nqNiosCNqttzHof",
"spotify:track:1j8z4TTjJ1YOdoFEDwJTQa"];

$(document).ready(function(){
  for(var i=0;i<100;i++){
    $.ajax({
      url: 'https://embed.spotify.com/oembed/?url='+tracks[i]+'&callback=callme',
      type: 'GET',
      crossDomain: true,
      dataType: 'jsonp',
      success: function(data){
        var img = new Image();
        img.src = data.thumbnail_url;
        img.width = 200;
        img.height = 200;
        var randLetter = String.fromCharCode(65 + Math.floor(Math.random() * 26));
        var uid = randLetter + Date.now();
        $(".background ul").append("<li id='"+uid+"'></li>");
        $(".background ul li:last-child").append(img);
        imgs.push({'img': img.src, 'uid':uid});
      },
      error: function() { console.log("An Unkown error Occured Getting this Album Info"); }
  });
  }
  
  $(".results").width($(document).innerWidth());
  $(".results").css("left",$(document).innerWidth()+"px");
  $(".search input").on("keyup", function(e){
    if(e.which == 13){
        $(".search").animate({
          left: '-1000px'
        },1000);
        $(".results").animate({
          left: '0px'
        },1000);
        var search = $(this).val();
        $.getJSON( "https://api.spotify.com/v1/search?q="+encodeURIComponent($(this).val())+"&type=track", function( data ) {
          $(".results").html("<div class='cross' onClick='close_layover()'></div>");
          $(".results").append("<div class='s'>Resultados para \""+search+"\"</div>");
          $(".results").append("<div class='o'><table></table></div>");
          $(".results .o table").append("<tr><td>Song</td><td>Artist</td><td>Album</td></tr>");
          $.each( data.tracks.items, function( key, val ) {
              $(".results .o table").append("<tr onClick='playPreview(\""+val.preview_url+"\")'><td>"+val.name+"</td><td>"+val.artists[0].name+"</td><td>"+val.album.name+"</td></tr>");
          });
        });
        e.preventDefault;
    }
  });
  setInterval("update_cover()",500);
});

function close_layover(){
  console.log('clicked');
  $(".search").animate({
    left: '25%'
  },1000);
  var l = $(document).innerWidth()+"px";
  $(".results").animate({
    left: l
  },1000);
  $(".search input").focus().select();
}

function update_cover(){
  var rand = Math.floor(Math.random()*(imgs.length-20));
  var rand2 = Math.floor(Math.random()*imgs.length);
  var li_uid = imgs[rand].uid;
  var li_img = imgs[rand2].img;
  var img = new Image();
  img.src = li_img;
  img.width = 200;
  img.height = 200;
  $("#"+li_uid+" img").animate({
    opacity: 0
  },1000, function(){
    $("#"+li_uid).html(img);
    $("#"+li_uid+" img").css("opacity","0");
    $("#"+li_uid+" img").animate({
      opacity: 1
    },1000);
  });
}

</script>
<style>body{
  background: #f0f0f0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.background{
  position: absolute;
  top: 0px;
  left: 0px;
  right: -200px;
  bottom: 0px;
}

.background ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.background ul li{
  float: left;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.grad{
  position: absolute;
  top: 0px;
  left: 0px;
  right: -200px;
  bottom: 0px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
}

.search{
  position: absolute;
  top: calc(50% - 20px);
  left: 25%;
  width: 50%;
  height: 50px;
}

.search svg{
  position: absolute;
  top: 12px;
  right: 0px;
}

.search input{
  width: 100%;
  height: 40px;
  background: rgba(255,255,255,0.9);
  border: 0px solid #fff;
  border-radius: 3px;
  color: #333;
  font-size: 20px;
  font-family: Arial;
  font-weight: bold;
  padding: 5px;
  padding-left: 14px;
}

.search input:focus{
  outline: none;
  box-shadow: 0 0 100px rgba(137,187,32,0.9);
}

.results{
	padding-top: 75px;
  background: rgba(0,0,0,0.8);
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 0;
  overflow: hidden;
}

.results .o{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 10%;
  overflow-y: auto;
}

.results .s{
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: bold;
  font-family: Arial;
  font-size: 20px;
  color: #fff;
}

.results table{
  position: absolute;
  top: 0;
  width: 100%;
  border-spacing: 0;
  padding: 0;
  margin: 0;
}


.results table td{
  color: #fff;
  font-family: Arial;
  font-size: 13px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  height: 30px;
  padding-left: 10px;
}

.results table tr:hover{
  color: #fff;
  background-color: rgba(0,0,0,1);
}

.results table tr:first-child td{
  color: #ddd;
  font-size: 14px;
  font-weight: bold;
}

.results .cross{
  position: absolute;
  left: calc(100% - 320px);
  top: 50px;
  z-index: 20;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.results .cross:after{
  content: '';
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 20;
  width: 50px;
  height: 1px;
  background: #aaa;
  transform: rotate(-45deg);
}

.results .cross:before{
  content: '';
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 20;
  width: 50px;
  height: 1px;
  background: #aaa;
  transform: rotate(45deg);
}</style>
<div class="background">
  <ul></ul>
</div>
<div class="grad"></div>
<div class="search">
  <input type="text" placeholder="Buscar en Spotify">
    <svg enable-background="new 0 0 512 512" height="25px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="25px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#a9a9a9" d="M497.913,497.913c-18.782,18.782-49.225,18.782-68.008,0l-84.862-84.863c-34.889,22.382-76.13,35.717-120.659,35.717  C100.469,448.767,0,348.312,0,224.383S100.469,0,224.384,0c123.931,0,224.384,100.452,224.384,224.383  c0,44.514-13.352,85.771-35.718,120.676l84.863,84.863C516.695,448.704,516.695,479.131,497.913,497.913z M224.384,64.109  c-88.511,0-160.274,71.747-160.274,160.273c0,88.526,71.764,160.274,160.274,160.274c88.525,0,160.273-71.748,160.273-160.274  C384.657,135.856,312.909,64.109,224.384,64.109z"/></svg>
</div>
<div class="results"></div>