- body_classes 'no-spaces'

/ <h1>Welcome#index</h1>
/ <p>Find me in app/views/welcome/index.html.erb</p>

/  <% @u.each do |i| %>
/   <%= i.username %>
/ <%end%>

/ <br>

/ <div ng-controller="Albums">
    
/     <form action="#">
/       <input type="text" id="LookFor">
/       <input type="button" ng-click="buscar()">
/     </form>
    
/     <div ng-repeat="i in Spotify_albums.items">
/       <img src="{{i.images[0].url}}" width="50px" alt="">
/       {{i.name}} <br>
/       <span class="link" ng-click="showTracks(i.id)">Mostrar e.e</span>
/     </div>
    
/     <div ng-repeat="j in Spotify_album_tracks">
/       {{j.name}} <br>
/       <span class="link" ng-click="playPreview(j.preview_url)">Play</span>
/     </div>

/   </div>

javascript:
  var ready;
  ready = function() {
  	$(window).scrollTop(1);
  };

  $(document).ready(ready);
  $(document).on('page:load', ready);

  $(window).scroll(function (event) {
      $(".section").each(function(){
      	doSc($(this),82);
      });
      $(".middle").each(function(){
      	doSc($(this),1);
      });
  });
  function doSc(elem, q){
  	var scroll = $(window).scrollTop();
  	if(scroll==0){scroll=1};

  	var space=$(elem).data("place");
  	var speed=$(elem).data("speed");
  	speed=0;
  	if(speed==undefined){speed=q;}else{}
  	if(space<2){
  		var s="calc("+100*space+"% + ";
  		var s2=(speed-scroll)/space;
  		s=s+s2+"px)";
  		$(elem).css("top",s);
  	}else{
  		var s="calc("+100*space*.75+"% + ";
  		var s2=(speed-scroll)/space;
  		
  		s=s+s2+"px)";
  		$(elem).css("top",s);
  	}
  }
.section.section1 data-place="0" 
  #insider
    h1 Musicpoint
    h3 Share your good taste
.middle.middle1 data-place="1.2" 
  h1 Conoce nuevas personas
  h3 Conoce nuevas personas y sigue en contacto con los viejos conocidos descubriendo los gustos de las personas &gr;3
.section2.section data-place="1" data-speed="10" 
.section3.section data-place="2" data-speed="100" 
  #insider
    h1 Unete Ahora
    button ¡Registrarme!
.middle.middle1 data-place="2.97" data-speed="90" style="min-height:100px" 
  sub Musicpoint by Breakpoint at Notion Engineering
