.cover
	{background-image: url("/assets/Optimized-90H.jpg");
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		position: absolute;
		top:0px;}
.pp-container{
	width: 150px;
	height: 150px;
	border-radius: 10px;
	border: 4px solid #fff;
	box-shadow: 0px 0px 10px #ccc;
	vertical-align: middle;
	display: table-cell;
	position: absolute;
	top: calc(100% - 75px);
	left: calc(50% - 75px);
	z-index: 1;
}
.pp
	{width: 100%;}
.Username{
	position: absolute;
	min-width: 100%;
	z-index: 1;
	top: 50%;
	font-weight: bolder;
	text-align: center;
	text-transform: capitalize;
	color:#fff;
	font-size: 80px;
	font-family: 'Open Sans', sans-serif;}
.sp-btn{
	background-color: #fff;
	width: 150px;
	height: 30px;
	color:#fff;
	position: absolute;
	bottom: 5px;
	text-align: center;
	font-family: 'Open sans', sans-serif;
	font-weight: bold;
	border-radius: 2px;
	cursor: pointer;
	padding-top: 5px;}
.follow{
	background-color: #4d7ede;
	right: 10px;}
.enemy{
	background-color: #de5054;
	left: 10px;}
.submenu{
	background-color: #f9f9f9;
	width: 80%;
	min-height: 60px; 
	position: absolute;
	top: calc(100% + 0px);
	border-radius: 6px;
	box-shadow: 0px 0px 10px #ccc;
	left: 10%;
	ul{
		li{
			display: inline-block;
			font-size: 18px;
			color:#ccc;
			text-decoration: underline;
			cursor: pointer;
			margin-left:30px;
			&:hover{
				color:#000;

			}
		}
		.active{
			color:#000;
		}
		min-height: 40px; 
	}
	.l-filter{
		float: right;
		margin-right: 10px;
		.filter{
			background-color:#f4f4f4;
			border: none;
			box-shadow: 0px 0px 3px #ccc;
			width: 200px;
			height: 30px;
			border-radius:3px;
			&:before{
				content: "&f071;";
				color:red;
			}
		}
	}
}