doctype html
html ng-app="appl" 
  head
    - # Use title and description helpers in views to change this damn easy
    title = content_for?(:title) ? yield(:title) : "mp"
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Musicpoint, luce tu buen gusto'}"
    script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js" 
    
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  - # Use the body_classes helper to add classes to the body from views  
  body class="#{if content_for?(:body_classes) then yield(:body_classes)}"
    == render 'elements/navigation'
    .container == yield
    .notice = notice
    .alert = alert
    audio#ply style="display:none" controls="false" preload="auto" src="" 
